.sans {
  font-family: var(--font-sans);
}

.pixel {
  font-family: var(--font-pixel);
}

.heading {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: var(--font-size-m);
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
}

.heading-l {
  font-family: var(--font-heading);
  font-size: var(--font-size-l);
  font-weight: 600;
  line-height: 120%;
}

.heading-xl {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
}

.heading-2xl {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: var(--font-size-2xl);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
}

.body {
  
}

.body-s {

}

.body-l {
  font-size: var(--font-size-l);
}

.body-xl {
  font-size: var(--font-size-xl);
}

.loud-text {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: var(--colors-indigo-40);
  text-align: center;
  text-shadow: 4px 4px 8px var(--colors-teal-200, #75F1EA);
}

