---
import { themeConfig } from '@/config'
import { ClientRouter } from 'astro:transitions'
import ThemeManager from '@/components/ui/ThemeManager.astro'
import type { LayoutProps } from '@/types'

type Props = LayoutProps

const language = themeConfig.site.language || 'en-US'
const fadeAnimation = themeConfig.general.fadeAnimation
---

<html lang={language}>
  <head>
    {fadeAnimation && <ClientRouter />}
    <slot name="head" />
  </head>
  <body>
    <ThemeManager />
    <slot />
  </body>
</html>

<style is:global>
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 7.5rem);
  }

  @media (max-width: 768px) {
    .layout-wrapper {
      min-height: calc(100vh - 5.5rem);
    }
  }
</style>
